.c1{
    height: 500px;
    width: 400px;
    background-color: blue;
    border: 5px solid red;
    /* margin-top: 90;
    margin-left: 80;
    margin-right: 90;
    margin-bottom: 79; */

    /* margin: 30px 90px 10px 50px ; */

    /* margin: auto; */



    /* padding-left: 90;
    padding-right: 90;
    padding-bottom: 60;
    padding-top: 50; */

    margin: 40 60 70 90;




}