a{
    color: red;
    background-color: aqua;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: black;
}

a:active{
    color: blue;
    background-color: yellow;
}

/* a:visited{
    color: green;
    background-color: black;
} */